.heading {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.logo {
    width: 150px;
}

.navList{
    text-align: center;
    margin: auto 0;
    width: 30%;
    padding: 0 20px;
    cursor: pointer;
}

.navList > ul {
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}


.res-card{
    width: 200px;
    height: 300px;
    padding: 5px;
    border: 1px solid ;
}

.res-card:hover{
    border: 2px solid green;
    transform: scale(1.02);
    transition: .1s linear;
    cursor: pointer;
    
}

.res-logo{
    width: 100%;
}
.h3,h5{
    margin: 0;
}